<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheer.mybatis.mapper.EmpMapper">
    <resultMap id="resultMap" type="Emp">
        <id property="empNo" column="empno"/>
        <result property="eName" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hireDate" column="hireDate"/>
        <result property="sal" column="sal"/>
        <result property="com" column="com"/>

        <association property="dept" column="deptno">
            <id property="deptNo" column="deptno"/>
            <result property="dName" column="dname"/>
            <result property="loc" column="loc"/>
        </association>
    </resultMap>

    <select id="getList" resultMap="resultMap">
        SELECT
          e.*,
          dname,
          loc
        FROM
          emp e
          LEFT JOIN dept d ON e.deptno = d.deptno
    </select>
</mapper>
